*{
    margin:0;
    padding:0;
    list-style:none;
}

a{text-decoration: none;}
body{background-color: #F5F5F5;}
.dingbu {
    height:out;
    width:100%;
    background-color: #fff;
    padding-bottom:40px;
}

/* 手机段样式开始*/
.shouji{
    width:1226px;
    height:auto;
    background-color:#F5F5F5;
    margin:0 auto;
}
.shouji .top{
    height:58px;
    line-height:58px;
    font-size:20px;
}
.shouji .top .right{
    float: right;
}
.shouji .top .right:hover{
    color:#ff6700;
}
.shouji .bottom{
    height:614px;

}
.shouji .bottom .box{
    height:300px;
    width:234px;
    float:left;
    margin:0px 14px 14px 0px;
    background-color:white;
}
.shouji .bottom .boxr{
    margin-right:0;
}
.shouji .bottom .boxb{
    margin-bottom:0;
}
.shouji .bottom .box1{
    height:614px;
}
.shouji .bottom .box .text1{
    height:20px;
    width:64px;
    margin:0 auto;
    background-color:#83C44E;
    text-align: center;
    line-height: 20px;
    font-size:12px;
    color:white;   
}
.shouji .bottom .box a{
    display:block;
}
.shouji .bottom .box img{
    display:block;
    margin:0 auto 10px;

}
.shouji .bottom .box .text2{
    height:21px;
    width:214px;
    text-align: center;
    line-height: 21px;
    font-size:14px;
    color: #333333;
    margin:0 auto;
}
.shouji .bottom .box .text3{
    height:18px;
    width:214px;
    text-align: center;
    line-height: 18px;
    font-size:12px;
    color: #b0b0b0;
    margin:2px auto;
}
.shouji .bottom .box .text4{
    height:16px;
    margin:15px auto 0px;
    text-align: center;
    line-height: 16px;
    font-size:14px;
    color:#ff6700;
}
.shouji .bottom .box .text4 s{
    color:#b0b0b0;
}

/*手机段样式结束*/



.jiadian{
    width:1226px;
    height:auto;
    margin:0 auto;
    background-color:#F5F5F5;
}
.jiadian .top{
    height:58px;
    line-height: 58px;
    font-size:20px;
}
.jiadian .top .left{
    float:left;
}
.jiadian .top .right{
    float:right;
}
/*.jiadian .top .right:hover{
    color:#ff6700;
    border-bottom:2px solid #ff6700;
    padding-bottom:2px;
    cursor:pointer;
}*/
.jiadian .top .right span{
    margin-left:30px;   
}
.jiadian .top .right span:hover{
    color:#ff6700;
    border-bottom:2px solid #ff6700;
    padding-bottom:2px;
    cursor:pointer;   
}
.jiadian .bottom{
    height:614px;
}
.jiadian .bottom .left{
    width:234px;
    height:100%;
    float:left;
}
.jiadian .bottom .left a{
    display:block;
    width:234px;
    height:300px;
}
.jiadian .bottom .left .li2{
   margin-top:14px;
}

.jiadian .bottom .right{
    width:992px;
    height:100%;
    float:right;
}
.jiadian .bottom .right li{
    width:234px;
    height:300px;
    background-color:#fff;
    float:left;
    margin-left:14px;
    margin-bottom:14px;
}
.jiadian .bottom .right .boxb{
    margin-bottom:0px;
}
.jiadian .bottom .right .boxr{
    height:143px;
}
.jiadian .bottom .right .boxr2{
    margin-top:14px;
}

.jiadian .bottom .right .box a{
    display:block;
    width:100%;
    height:auto;
    overflow:hidden;
}
.jiadian .bottom .right .box .text1{
    height:20px;
    width:64px;
    background-color:#83C44E;
    text-align: center;
    line-height: 20px;
    font-size:12px;
    color:white;
    margin:0 auto;
}
.jiadian .bottom .right .box .tu{
   display:block;
    margin:15px auto 20px;
}
.jiadian .bottom .right .box .text2{
    height:21px;
    width:214px;
    text-align: center;
    line-height: 21px;
    font-size:14px;
    color: #333333;
    margin:0 auto;
}
.jiadian .bottom .right .box .text3{
    height:18px;
    width:214px;
    text-align: center;
    line-height: 18px;
    font-size:12px;
    color: #b0b0b0;
    margin:1px auto;
}
.jiadian .bottom .right .box .text4{
    height:16px;
    margin:10px auto 0px;
    text-align: center;
    line-height: 16px;
    font-size:14px;
    color:#ff6700;
}
.jiadian .bottom .right .box .text4 s{
    color:#b0b0b0;
}
.jiadian .bottom .right .boxd img{
    display:block;
    float:right;
    margin:30px 10px;
}
.jiadian .bottom .right .boxd .leftp{
   height:42px;
   width: 94px;
   margin:40px 10px 0  30px;

}
.jiadian .bottom .right .boxd .leftp p{
    color:#333333;
    font-size:14px;
    padding-bottom:10px;
}
.jiadian .bottom .right .boxd .leftp pre{
    color:#ff6700;
    font-size:14px;
}

.jiadian .bottom .right .boxd2 img{
    display:block;
    float:right;
    margin:40px 10px;
}
.jiadian .bottom .right .boxd2 .leftp{
   height:42px;
   width: 94px;
   margin:50px 10px 0  30px;

}
.jiadian .bottom .right .boxd2 .leftp p{
    color:#333333;
    font-size:14px;
}
.jiadian .bottom .right .boxd2 .leftp pre{
    color:#b0b0b0;
    font-size:12px;
}
.Centu{
    display:block;
    margin:45px auto 20px;

}

.rep{
    margin:0 auto;
    width:1226px;
    height:auto;
    overflow: hidden;
}
.rep .top{
    height:58px;
    font-size:20px;
    line-height: 58px;
}

.rep .bottom .box{
    height:415px;
    width:296px;
    background-color:white;
    float:left;
    margin-right:14px;
}
.rep .bottom .boxr{
    margin-right:0px;  
}
.rep .bottom .box a{
    height:auto;
    display:block;
    margin:0 auto;
}
.rep .bottom .box img{
    display:block;
}
.rep .bottom .box .text1{
    height:72px;
    width:240px;
    margin:30px auto 20px;
    font-size:14px;
    color:#333333;
}
.rep .bottom .box .text2{
    height:18px;
    width:240px;
    margin:0px auto 8px;
    font-size:12px;
    color:#b0b0b0;
}
.rep .bottom .box .bb{
    height:16px;
    width:240px;
    margin:0px auto;
}

.rep .bottom .box .text3{
    line-height:16px;
    font-size:14px;
    color:#333;
}
.rep .bottom .box .text4{
    line-height:16px;
    font-size:14px;
    color:#ff6700;
}
/*内容样式*/
.neir{
    margin:14px auto;
    width:1226px;
    height:auto;
    overflow: hidden;
}
.neir .top{
    height:58px;
    font-size:20px;
    line-height: 58px;
}
.neir .bottom .box{
    height:420px;
    width:296px;
    background-color:white;
    float:left;
    margin-right:14px;
    box-sizing:border-box;
}
.neir .bottom .box p{
    height:70px;
    font-size: 14px;
    box-sizing: border-box;
    padding-top:30px;
    text-align: center;
    color:#ff6700;
}
.neir .bottom .box .centi{
    height:350px;
    width:296px;
    position: relative;
}
.neir .bottom .box .centi .ti{
    position: absolute;
    top:0px;
    left:0;
    height:350px;
    width:296px;
    background-color: white;
}
.neir .bottom .box .centi a{
    display:block;
}
.neir .bottom .box .centi a:hover{
    cursor: pointer;
}


.neir .bottom .box .centi .ti p{
    line-height:25px;
    text-align: center;
    font-size: 20px;
    color:#333;
    height:25px;
    width:auto;
    margin:-25px 25px 5px;
   /* position: relative;
    top:-20px;
    left:0px;*/
}
.neir .bottom .box .centi .ti .xx{
    font-size: 12px;
    line-height: 20px;
    text-align: center;  
    height:40px;
    width:200px;
    color:#b0b0b0; 
    display:block;
}


.neir .bottom .box .centi .ti span{
    display:block;
    font-size: 12px;
    color:#333;
    height:18px;
    text-align: center;
    line-height: 18px;
    margin:25px auto 20px;
  /*  position: relative;
    top:20px;
    left:0px;*/
}




.neir .bottom .box .centi .ti img{
    display:block;
    height:140px;
    width:216px;
    margin:0 40px;
}

.neir .bottom .box .centi .ti .anniu{
    border:1px solid #ffac13;
    background: #fff;
    color: #ffac13;
    width: 118px;
    height: 28px;
    font-size: 12px;
    line-height: 28px;
    text-align: center;
    margin-left:88px;

}
.neir .bottom .box .centi .ti .anniu:hover{
    background: #ffac13;
    color:#fff ;
}

.neir .bottom .box .centi .dian{
    height:30px;
    width:90px;
    position: absolute;
    bottom:20px;
    left:0px;
    right:0px;
    margin:auto;
    box-sizing: border-box;
}
.neir .bottom .box .centi .dian a{
    height:6px;
    width:6px;
    border:2px solid white;
    display:block;
    border-radius: 50%;
    background-color: #B0B0B0;
    float:left;
    margin:10px 10px;  
}
.neir .bottom .box .leftj{
    position: absolute;
    top:0;
    bottom:0;
    margin:auto 0;
    left:0;
    width:20px;
    height:48px;
    background-color:#ff6700;
}
.neir .bottom .box .rightj{
    position: absolute;
    top:0;
    bottom:0;
    margin:auto 0;
    right:0;
    width:20px;
    height:48px;
    background-color:#ff6700;
}
.neir .bottom .box1 .centi .dian a:hover{
    background-color: #ff6700;
}

.neir .bottom .boxr{
    margin-right:0px;  
}

/*顶端样式*/
.heard{
    height:40px;
    width:100%;
    background-color:#333;
}
.heard .nb{
    height:40px;
    width:1226px;
    margin:0 auto;
}
.heard .nb .left{
    width:auto;
    height:40px;
    float:left;
    line-height: 40px;
    font-size: 12px;
    color:#b0b0b0;
}
.heard .nb .left a{
    color:#b0b0b0;
    display:inline-block;
}
.heard .nb .left a:hover{
    color:white;
}
.heard .nb .left span{
    color:#424242;
}
.heard .nb .dl{
    height:40px;
    width:auto;
    float:right;
    margin-right:20px;
    line-height: 40px;
    font-size: 12px;
    color:#b0b0b0;
}
.heard .nb .dl a{
    color:#b0b0b0;
    display:inline-block;
}
.heard .nb .dl span{
    color:#424242;
}
.heard .nb .shop{
    height:40px;
    width:120px;
    float:right;
    background-color: #424242;
    text-align: center;
    line-height: 40px;
    font-size: 12px;
}
.heard .nb .shop a{
    color:#b0b0b0;
    display: inline-block;
}
.heard .nb .shop:hover{

    background-color: #fff;
}
.heard .nb .shop a:hover{
    color:#ff6700;

}



/*logo开始*/
.logo{
    height:100px;
    width:1226px;
    margin:0 auto;
}
.logo .image{
    margin-top:22px;
    height:55px;
    width:55px;
    float:left;
    background-image:url(../img/logo.jpg);
}
.logo .text1{
    height:100px;
    width:auto;
    float:right;
    line-height: 100px;
    margin-right:80px;
}
.logo .text1 span{
    font-size:16px;
    color:#333;
    margin-left:20px;
}
.logo .text1 span:hover{
    color:#ff6700;
    cursor: pointer;
}
.logo .search{
    width:297px;
    height:50px;
    margin-top:25px;
    float:right;
}
.logo .search .sous,.logo .search .btn{
    box-sizing: border-box;
    outline: 0;
    border:1px solid #b0b0b0;
    display:block;
    float:right;
}
.logo .search .btn{
    width:52px;
    height:50px;
    border-left:0;
}
.logo .search .btn:hover{background-color: #ff6700;}
.logo .search .sous{
    width:244px;
    height:50px;
    text-indent: 1em;
}

/*轮播开始*/
.lunb{
    width:1226px;
    height:460px;
    margin:0 auto;
    margin-bottom:14px;
    position:relative;
}
.lunb .imgbox{
    width:1226px;
    height:460px;
    margin:0 auto;
}
.lunb .imgbox a{
    display:block;
    width:1226px;
    height:460px;
    position:absolute;
    top:0;
    left:0;
}
.lunb .imgbox img{
    height:460px;
    width:1226px;
}
.lunb .left{
    width:234px;
    height:460px;
    background-color:rgba(0,0,0,0.6);
    position:absolute;
    top:0;
    left:0;
    padding-top:20px;
    box-sizing: border-box;

}
.lunb .left a{
    display:block;
    cursor: pointer;
    width:auto;
    height:42px;
    line-height: 42px;
    padding-left:30px;
    font-size:15px;  
    color:white;
    position:relative;
}
.lunb .left a:hover{
    background-color: #ff6700;
}
.lunb .lbtn{
    width:41px;
    height:69px;
    background-color: #83C44E;
    position: absolute;
    top:0;
    bottom:0;
    margin:auto;
    left:234px;
}
.lunb .rbtn{
    width:41px;
    height:69px;
    background-color: #83C44E;
    position: absolute;
    top:0;
    bottom:0;
    margin:auto;
    right:0px;
}
.lunb .dian{
    width:100px;
    height:10px;
    position:absolute;
    right:30px;
    bottom:30px;
}
.lunb .dian a{
    display:block;
    width:6px;
    height:6px;
    border:2px solid #929398;
    margin:auto 5px;
    background-color: #8C8E97;
    border-radius: 50%;
    float:left;
}
.lunb .dian a:hover{
    background-color: rgba(243,244,244,0.8);
    border:2px solid #8C8E97;
}

/*轮播下开始*/
.lbx{
    height:170px;
    width:1226px;
    margin:0 auto;
}
.lbx .left{
    width:234px;
    height:100%;
    float:left;
    background-color: #333333;
}
.lbx .right{
    float:left;
    height:100%;
    width:992px;
}
.lbx .right img{
    float:left;
    width:316px;
    height:170px;
}
/*视频开始*/
.ship{
    width:1226px;
    height:343px;
    margin:0 auto;

}
.ship .top{
    height:58px;
    line-height: 58px;
    font-size:20px;
}
.ship .top .left{
    float:left;
}
.ship .top .right{
    float:right;
}

.ship .top .right span{
    margin-left:30px;   
}
.ship .top .right span:hover{
    color:#ff6700;
    cursor:pointer;   
}
.ship .bottom .box{
    height:285px;
    width:296px;
    float:left;
    background-color: #fff;
    margin-right:14px;
}
.ship .bottom .boxr{margin:0;}
.ship .bottom .box img{
    width:296px;
    height:180px;
    margin-bottom:30px;
}
.ship .bottom .box p{
    text-align: center;
    font-size: 14px;
    color:#333;
    height:21px;
    line-height: 21px;
    margin-bottom:10px;
}
.ship .bottom .box p:hover{
    color:#ff6700;
    cursor: pointer;
}
.ship .bottom .box pre{
    color:#b0b0b0;
    font-size: 12px;
    height:18px;
    text-align: center;
    line-height: 18px;

}

/*底面样式*/
.weix{
    height:272px;
    width:100%;
    background-color: #fff;
    margin-top:60px;
}

.weix .top{
    height:79px;
    width:1226px;
    margin:0 auto;
    border-bottom:1px solid #E0E0E0;
}
.weix .top li{
    height:25px;
    width:244px;
    margin-top:27px;
    font-size:16px;
    color:#333;
    text-align: center;
    line-height: 25px;
    border-right:1px solid #E0E0E0;
    float:left;
}
.weix .top li a:hover{
    color:#ff6700;
    cursor: pointer;
}
.weix .bottom{
    height:192px;
    width:1226px;
    margin:0 auto;
}
.weix .bottom .right .box{
    height:112px;
    width:251px;
    margin-top:40px;
    float:right;
    border-left:1px solid #E0E0E0;
}
.weix .bottom .right .ddl{
    height:112px;
    margin-top:40px;  
    float:left;
}
.weix .bottom .right .ddl dl{
    height:112px;
    width:160px;

    float:left;
}
.weix .bottom .right .ddl dt{
    height:17px;
    line-height: 17px;
    font-size: 14px;
   
}
.weix .bottom .right .ddl dd{
    height:18px;
    line-height: 18px;
    font-size: 12px;
    margin-top: 10px;
    color:#757575
}
.weix .bottom .right .ddl a:hover{
    color:#ff6700;
    cursor: pointer;
}
.weix .bottom .right .box p{
    font-size: 22px;
    color:#ff6700;
    height:22px;
    text-align: center;
    margin-bottom:5px;
}
.weix .bottom .right .box pre{
    height:36px;
    font-size: 12px;
    text-align: center;
    color: #616161;
    margin-top:10px;
}
.weix .bottom .right .box .kefu{
    width:118px;
    height:28px;
    font-size:12px;
    text-align: center;
    line-height:28px;
    border:1px solid #ff6700;
    color: #ff6700;  
    margin:15px auto 0;
}
.weix .bottom .right .box .kefu:hover{
    color:#fff;
    background-color: #ff6700;
    cursor:pointer;
}
.xiaom{
    height:232px;
    width:100%;
    overflow:hidden;
    background-color: #fafafa;
}
.xiaom .box{
    width:1226px;
    height:172px;
    margin:30px auto;

}
.xiaom .box .top{
    height:auto;
    overflow:hidden;
}
.xiaom .box .top .left{
    height:57px;
    width:57px;
    margin-right:10px;
    background-image: url("../img/logo.jpg");
    float:left;
}
.xiaom .box .top .right{
    height:auto;
    width:1159px;
    float:left;
}
.xiaom .box .top .right .yi{
    height: 19px;
    width:1159px;
    font-size: 12px;
    
    line-height: 19px;
}
.xiaom .box .top .right .yi a,.xiaom .box .top .right .yi span{
    color: #757575;
}
.xiaom .box .top .right .yi a:hover{
    color:#ff6700;
    cursor: pointer;
}
.xiaom .box .top .right .er{
   
    height:72px;
    line-height: 18px;
    
}
.xiaom .box .top .right .er a,.xiaom .box .top .right .er span,.xiaom .box .top .right .er br{
  /*  line-height: 18px;*/
    font-size: 12px;
    color: #b0b0b0;

}
.xiaom .box .top .right .er a:hover{
    cursor: pointer;
    color:#ff6700;
}
.xiaom .box .top .right .san{
    margin-top:10px;
    overflow: hidden;
}
.xiaom .box .top .right .san img{
    height:28px;
    width:85px;
    display:block;
    float:left;

}
.xiaom .box .bottom{
    height:19px;
    margin:30px auto 0;
    font-size:16px;
    text-align: center;
    line-height: 19px;
    color: #333;
}
